
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*navbar styling*/
.nav{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.linkid{
  display: inline-block;
  padding: 35px;
  color: grey;
}
.companylink{
  margin-left: 30px;
  font-size: large;
  font-weight: 700;
  border-bottom: 1px solid #32064a;
}
#clearly{
  color: #32064a;
}
.contactus{
  margin-right: 30px;
  background-color: #32064a;
  padding: 12px;
}
#navbutton{
  color: white;
}
/*end navbar styling*/

  /*clearly clean main img and learnmore button*/
  .mainimg{
    text-align: center;
    position: relative;
    
  }
  #purpimg{
    width: 98%;
  }
  #learnbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    font-weight: 100;
  }
  
  .imgtext{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #h1img{
    top: 30%
  }
  #h3img{
    top: 40%;
  }
  /*clearly clean main img and learnmore button*/

  /*mission statement*/
  .mission{
    text-align: center;
    padding: 5%;
  }
  #ourmission{
    padding-bottom: 2em;
    color: gray;
  }
  #statement{
    padding-bottom: 5%;
  }
  #underline{
    border: 1px solid #D3D3D3;
    margin: 0 20% 0 20%;
  }
/*end mission statement*/
/*about us*/
.about{
  display: flex;
}
.abouttext{
  margin-left: 5%;
}
#aboutimg{
display: inline-block;
width: 60%;
max-width: 950px;
margin-left: 5%;
}
#aboutHeader{
  display: inline-block;
  
  margin-top: 5%;
  color: grey;
}
#ipsom{
  max-width: 40%;
 
}
/*end about us*/
/*our services*/ 
.ourservices{
  text-align: center;
  margin-top: 5%;
}
#servehead{
  padding-bottom: 30px;
  color: grey;
}
#whatwedo{
  margin-bottom: 5%;
}
#serviceunderline{
  border-bottom: 1px solid #D3D3D3;
  margin: 0 20% 100px 20%;
}
/*end our services*/ 

  /*services descriptions links*/
  .allLinks{
    display: flex;
    justify-content:space-around;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}
  .cleaningImg{
    max-height: 200px;
  
  }
  .serviceItemContainer{
    min-height: 400px;
    min-width: 300px;
    max-width: 300px;
    background-color: white
    
  }
  .serviceText{
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  .serviceheaders{
    padding-bottom: 10px;
}
button{
  border: none;
  background-color: white;
  padding-bottom: 7%;
}
.servicedescrip{
  font-weight: 800;
  font-size: large;
  padding-bottom: 10%;
}
.serviceheaders{
  color: grey;
  font-size: small;
  padding-bottom: 6%;
}

 /*end ervices descriptions links*/
/* popup*/
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;
  background-color: white;
  width: 800px;
  max-width: 80%;
  display: none;
}
#freequote{
  padding-bottom: 40px;
  padding-top: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

}
.often{
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
}

.quotelabels{
  padding-bottom: 5px;
  padding-top: 15px;
}
#onetimebutton{
  margin-top: 10px;
}
/*about section*//*unvisted link*/
a:link {
  color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
    text-decoration: none;
  }

/*end of service description links*/

/*about section header*/

/*end of about section*/
